.posts{
    flex: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}

.tituloNov{
    font-family: 'Lora', serif;
    margin-top:0;
    color:#be9656;
}

.sep{
    margin:2px;
}